# Ignore credentials and sensitive files
credentials.json
*.pem
*.key

# Ignore Python compiled files
__pycache__/
*.py[cod]

# Ignore local data and exported JSON files
exported_data/
*.json

# Ignore virtual environment
venv/
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

profiles.yml


# Ignorer les fichiers spécifiques à l'IDE/OS
.vscode/
.idea/
.DS_Store
.user.yml
